{% extends "OpenCourseAllotment/layout.html" %}
{% block body %}

<div class="welcome">Welcome, {{ user.name }} </div>
<div class="home-main">
</div>
<div class="home-content">
    <table class="table user-details">
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Department</th>
            <td>{{ user.department }}</td>
        </tr>
        <tr>
            <th>Email Address</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Application Status</th>
            {% if application_status %}
                {% if allotment_status %}
                    <td>Alloted</td>
                {% else %}
                    <td>Applied</td>
                {% endif %}
            {% else %}
                <td>Did not Apply!</td>
            {% endif %}
        </tr>
    </table>
    {% if not application_status %}    
        <div class="home-buttons">
            <a href="{% url 'apply' %}" class="btn btn-primary apply-btn">Apply for Allotment</a>
        </div>
    {% endif %}
    <a href="" class="logout-btn">Logout</a>
{% endblock %}
