{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Open Course Allotment{% endblock %}</title>
    <link rel="stylesheet" href="{% static "OpenCourseAllotment/bootstrap-4.3.1-dist/css/bootstrap.min.css" %}">
    <script src"{% static "OpenCourseAllotment/bootstrap-4.3.1-dist/css/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "OpenCourseAllotment/styles.css" %}">
    <script src="{% static "OpenCourseAllotment/script.js" %}"></script>
    <link rel="icon" href="{% static "OpenCourseAllotment/favicon.png" %}">
    {% block style %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
    {% block heading %}
    <div class="heading"></div>
    <h1 class="display-4 head">Open Course Allotment</h1>
    {% endblock %}
    {% comment %} !---------------------------------------------  {% endcomment %}
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
    {% block footer %}
    <div class="user">User: {{ user.email }}</div>
    {% endblock %}
</body>
</html>