{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Open Course{% endblock %}</title>
    <link rel="stylesheet" href="{% static "OpenCourseAllotment/styles.css" %}">
    {% block style %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
    {% comment %} !---------------------------------------------  {% endcomment %}
    {% block body %}
    {% endblock %}
</body>
</html>