{% extends "OpenCourseAllotment/layout.html" %}

<!-- Avoid heading in the layout -->
{% block heading %} {% endblock %}
{% block style %}
<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>
{% endblock %}
{% block body %}
<div class="login-container">
    <div class="login-heading">
        Open 
        Course 
        Allotment 
    </div>
    <div class="login-main">
    {% block form %}
    {% comment %} Student Login {% endcomment %}
    <div class="stud-reg login-form">
        <div class="reg-buttons">
            <button class="btn btn-primary btn-active" data-role="student">Student</button>
            <button class="btn btn-primary" data-role="teacher">Teacher</button>
        </div>
        <form method="post" action="{% url 'login_view' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="role" value="student">
                <input type="email" class="form-control" name="email" required placeholder="Mail Id">
                <input type="password" class="form-control" name="password" required placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            Don't have an account? <a href="{% url "register" %}">Register</a>
        </form>
        <div class="message">{{ message }}</div>
    </div>

    {% comment %} Teacher Login {% endcomment %}
    <div class="tr-reg login-form">
        <div class="reg-buttons">
            <button class="btn btn-primary" data-role="student">Student</button>
            <button class="btn btn-primary btn-active" data-role="teacher">Teacher</button>
        </div>
        <form method="post" action="{% url 'login_view' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="role" value="teacher">
                <input type="number" class="form-control" name="id" required placeholder="Teacher Id">
                <input type="password" class="form-control" name="password" required placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            Don't have an account? <a href="{% url "register" %}">Register</a>
        </form>
        <div class="message">{{ message }}</div>
    </div>
    {% endblock %}
</div>
{% endblock %}
