{% extends "OpenCourseAllotment/layout.html" %}

<!-- Avoid heading in the layout -->
{% block heading %} {% endblock %}
{% block style %}
<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>
{% endblock %}
{% block body %}
<div class="login-container">
    <div class="login-heading">
        Open 
        Course 
        Allotment 
    </div>
    <div class="login-main">
        <div class=" login-form">
            {% block form %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" required placeholder="Username">
                    <input type="password" class="form-control" id="password" name="password" required placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                Don't have an account? <a href="{% url "register" %}">Register</a>
            </form>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
