{% extends "OpenCourseAllotment/login.html" %}

{% block form %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" required placeholder="Username">
        <input type="password" class="form-control" id="password" name="password" required placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    Already has an account? <a href="{% url "login" %}">Register</a>
</form>
{% endblock %}