.body {
    background-color: #DCF2F1;
}
.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.home-main .buttons {
    margin: 20px;
    margin-top: 10%;
    padding: 10px;
}
.home-main .buttons .btn {
    padding: 10px;
    margin: 2px;
    width: 40vw;
}
.head {
    height: 20vh;
    background-image: url(college.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
}

/* ! Login */
.login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #0F1035;
    color: #DCF2F1;
    justify-content: center;
    align-items: center;
}
.login-heading {
    background-image: url(college.jpg);
    background-size: cover;
    background-position: center bottom;
    color: #DCF2F1;
    width: 45vw;
    height: 100vh;
    border: 0px solid black;
    border-radius: 0 0 600px 0;
    padding: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: bold;
}
.login-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    height: 50vh;
    width: 100%;
    color: #DCF2F1;
}
.login-form input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #7FC7D9;
    border-radius: 5px;
    color: #0F1035;
}
.login-form button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #7FC7D9;
    border-radius: 5px;
    width: 100%;
    color: #0F1035;
    background-color: #7FC7D9;
    font-weight: bold;
}
.login-form button:hover {
    background-color: #0F1035;
    border: 2px solid #7FC7D9;
    color: #7FC7D9;
}
.reg-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-buttons .btn {
    background-color: #365486;
    border: none;
    padding: 10px;
    margin: 0px;
    border-radius: 0px;
    width: 40%;
    margin-bottom: 10px;
}
.reg-buttons .btn:hover {
    background-color: #1f5dc9;
    border: none;
    color: white;
}
.reg-buttons .btn-active {
    background-color: #7FC7D9;
    color: #0F1035;
}
@media (max-width: 600px) {
    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login-heading {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 20vh;
        border-radius: 0;
        padding: 20px;
        font-size: 30px;
    }
}

/* ! Registration */
.stud-reg-heading {
    font-size: 50px;
}
.stud-reg {
    /* display: none; */
    padding: 20px;
    margin: 20px;
}
.tr-reg {
    display: none;
    padding: 20px;
    margin: 20px;
}
#dept-select {
    margin: 10px;
    padding: 10px;
}
.message {
    display: block;
    color: red;
}

/* DCF2F1
7FC7D9
365486
0F1035 */